.about__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about__title {
  font-size: 38px;
  padding: 100px 5px 10px 30px;
}

.about__text-subtitle {
  display: flex;
  color: #5e5e5e;
  padding: 20px 10px 10px 30px;
  text-align: left;
  font-size: 20px;
}
.about__text {
  color: #5e5e5e;
  padding: 0 20px 0 30px;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.7;
}

.text-bold-black {
  color: #212121;
  font-weight: bold;
}
.about__buttons {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about__buttons_btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  color: white;
  font-size: 15px;
  background-color: #d5a353;
  width: 150px;
  height: 50px;
  font-weight: bold;
  margin: 10px 0 0 10px;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.2s, color 0.2s;
}
.about__buttons_btn1:hover,
.about__buttons_btn2:hover {
  background-color: #bdbdbd;
  color: #212121;
}

.about__buttons_btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  color: #d5a353;
  font-size: 15px;
  background-color: white;
  width: 130px;
  height: 50px;
  font-weight: bold;
  margin: 10px 0 0 10px;
  border-color: #d5a353;
  border-width: 2px;
  border-style: solid;
}

.about__image-wrapper {
  position: relative;
  width: 100%;
  padding-top: 60%;
  overflow: hidden;
}
.about__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 768px) {
  .about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto;
  }

  .about__content,
  .about__image-wrapper {
    flex: 1;           /* обидва ділять простір порівну */
    max-width: 50%;    /* обмеження, щоб не розтягувались */
  }

  .about__buttons {
    flex-direction: row;
    gap: 20px;
  }
}
