.header{
  display: flex;
  background-image: url(../img/shoerepair-head.png);
  background-size: cover;
  background-position: center;      
  background-repeat: no-repeat;    
  width: 100%;                 
  min-height: 800px;
}

.header__title{
  font-size: 62px;
  font-weight: bold;
  color:white;
  line-height: 65px;
  padding:160px 20px 0 25px;

 
}
.w-picture__imageh{
  padding: 15px;
  margin: 25px 0 0 20px;

}
.header__text{
  color:#F9F6F2;
  font-family:"PT Sans",sans-serif;
  font-size: 20px;
  padding-left: 25px;
  padding-top: 20px;
}


.header__btn1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  color: white;
  font-size: 15px;
  background-color: #d5a353;
  width: 150px;
  height: 50px;
  font-weight: bold;
  margin: 50px 0 0 25px;
  border:transparent;
}

.header__btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  color: white;
  background-color: transparent;
  border:transparent;
  font-size: 15px;
  width: 150px;
  height: 50px;
  font-weight: bold;
  margin: 10px 0 0 10px;
  border-width: 2px;
  border-style: solid;
}
.iconElement__inner_2iN{
  height: 20px;
  width: 20px;
  padding-right: 30px;
}

.header__contacts{
  display: flex;
  flex-direction: column;
  background-color: rgba(20, 20, 20, 0.3);
  margin: 70px 30px 30px 30px;
  align-items: center;
  justify-items: center;
  gap: 50px; 
  padding: 20px; 
 
}
.header__contact {
  text-align: center; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
}
.header__contact-title{
  display: flex;
  font-family:"Teko",sans-serif ;
  color: #d5a353;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  flex-direction: column; 
  align-items: center; 
}
.header__contact-text{
  margin: 10px 0 0 0;
  color: #F9F6F2;
  font-size: 17px;
  font-family: "PT Sans", sans-serif;
  font-weight: 600;
}

.header__contact-link{
  font-size: 30px;
  text-decoration: none;
  color: #F9F6F2;
  font-family: "Teko", sans-serif;
}

@media (min-width: 768px) {
  .header__title{
    font-size: 125px;
    padding:250px 20px 0 750px;
    
  }
  .header__contacts{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    right:50px; 
    margin-right:-50px;
   
  }
  .header__text{
    padding-left: 750px;
    padding-top: 20px;
    font-size: 22px;
  }
  .header__btn1,
  .header__btn2 {
    margin-left: 450px;
  }
  .header__actions{
    flex-direction: row;
    gap: 20px;
  }

}
  
